<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">

    <!-- Loading Bootstrap -->
    <!--<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>-->
    <link href="__PUBLIC__/assets/css/backend.min.css" rel="stylesheet">
</head>

<body class="inside-header inside-aside " marginwidth="0" marginheight="0">
<div id="main" role="main">
    <div class="tab-content tab-addtabs">
        <div id="content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <section class="content-header hide">
                        <h1>
                            控制台
                            <small>Control panel</small>
                        </h1>
                    </section>
                    <div class="content">
                        <div class="panel panel-default panel-intro">

                            <div class="panel-body">
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="one">
                                        <div class="widget-body no-padding">
                                            <div class="bootstrap-table">
                                                <div class="layui-layer layui-layer-dialog layui-layer-fast hidden" id="layui-layer1" type="dialog" times="1" showtime="0" contype="string" style="z-index: 19891015; top: 265px; left: 729.734px;">
                                                    <div class="layui-layer-title" style="cursor: move;">温馨提示</div>
                                                    <div id="" class="layui-layer-content layui-layer-padding">
                                                        <i class="layui-layer-ico layui-layer-ico3"></i>
                                                        确定删除此条消息?
                                                    </div>
                                                    <span class="layui-layer-setwin">
                                                        <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:close_promet();"></a>
                                                    </span>
                                                    <div class="layui-layer-btn layui-layer-btn-">
                                                        <a class="layui-layer-btn0" href="javascript:delete_message();">确定</a>
                                                        <a class="layui-layer-btn1" href="javascript:close_promet();">取消</a>
                                                        <input type="hidden" id="ID" value="">
                                                    </div>
                                                    <span class="layui-layer-resize"></span>
                                                </div>

                                                <div class="fixed-table-toolbar">
                                                    <div class="bs-bars pull-left">
                                                        <div id="toolbar" class="toolbar">
                                                            <a href="javascript:;" onclick="refresh()" class="btn btn-primary btn-refresh" title="刷新"><i class="fa fa-refresh"></i>
                                                            </a>
                                                            <a href="{:url('Consume/indexMessage')}" class="btn btn-success btn-edit btn-disabled" title="新增">
                                                                <i class="fa fa-pencil"></i>
                                                                新增
                                                            </a>
                                                            <!--<a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled" title="删除"><i class="fa fa-trash"></i>-->
                                                            <!--删除</a>-->
                                                            <!--<div class="dropdown btn-group ">-->
                                                            <!--<a class="btn btn-primary btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i>-->
                                                            <!--更多</a>-->
                                                            <!--<ul class="dropdown-menu text-left" role="menu">-->
                                                            <!--<li>-->
                                                            <!--<a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i>-->
                                                            <!--设为正常</a></li>-->
                                                            <!--<li>-->
                                                            <!--<a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i>-->
                                                            <!--设为隐藏</a></li>-->
                                                            <!--</ul>-->
                                                            <!--</div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fixed-table-container" style="padding-bottom: 0px;">
                                                    <div class="fixed-table-header" style="display: none;">
                                                        <table></table>
                                                    </div>
                                                    <div class="fixed-table-body">
                                                        <div class="fixed-table-loading" style="top: 42px; display: none;">
                                                            正在努力地加载数据中，请稍候……
                                                        </div>
                                                        <table id="table" class="table table-striped table-bordered table-hover" data-operate-edit="1" data-operate-del="1" width="100%">
                                                            <thead>
                                                            <tr>
                                                                <!--<th class="bs-checkbox " style="text-align: center; vertical-align: middle; width: 36px; " data-field="0">-->
                                                                <!--<div class="th-inner ">-->
                                                                <!--<input name="btSelectAll" type="checkbox"></div>-->
                                                                <!--<div class="fht-cell"></div>-->
                                                                <!--</th>-->
                                                                <th style="text-align: center; vertical-align: middle; " data-field="id">
                                                                    <div class="th-inner">ID</div>
                                                                    <div class="fht-cell"></div>
                                                                </th>
                                                                <th style="text-align: center; vertical-align: middle; " data-field="group.name">
                                                                    <div class="th-inner ">题目</div>
                                                                    <div class="fht-cell"></div>
                                                                </th>
                                                                <th style="text-align: center; vertical-align: middle; " data-field="username">
                                                                    <div class="th-inner ">图片</div>
                                                                    <div class="fht-cell"></div>
                                                                </th>
                                                                <th style="text-align: center; vertical-align: middle; " data-field="username">
                                                                    <div class="th-inner ">内容</div>
                                                                    <div class="fht-cell"></div>
                                                                </th>
                                                                <th style="width:20%;text-align: center; vertical-align: middle; " data-field="operate">
                                                                    <div class="th-inner ">操作</div>
                                                                    <div class="fht-cell"></div>
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody data-listidx="0">
                                                            {volist id='vo' name='list'}
                                                            <tr data-index="0">
                                                                <!--<td class="bs-checkbox ">-->
                                                                <!--<input data-index="0" name="btSelectItem" type="checkbox">-->
                                                                <!--</td>-->
                                                                <td style="text-align: center; vertical-align: middle; ">
                                                                    {$vo.ID}
                                                                </td>
                                                                <td style="text-align: center; vertical-align: middle; ">
                                                                    {$vo.Title}
                                                                </td>
                                                                <td style="text-align: center; vertical-align: middle; ">
                                                                    <img style="width:34%" src="{$vo.ResourceURL}" alt="">
                                                                </td>
                                                                <td style="text-align: center; vertical-align: middle; ">
                                                                    {$vo.Remark}
                                                                </td>

                                                                <td style="text-align: center; vertical-align: middle; ">
                                                                    <a href="{:url('Consume/MessageInfo?ID='.$vo.ID)}" class="btn btn-xs btn-success btn-editone" data-toggle="tooltip" title="修改" data-table-id="table" data-field-index="18" data-row-index="0" data-button-index="1">
                                                                        <i class="fa fa-pencil">修改</i>
                                                                    </a>
                                                                    <a href="javascript:;" onclick="delete_true('{$vo.ID}')" class="btn btn-xs btn-danger btn-delone" data-toggle="tooltip" title="冻结" data-table-id="table" data-field-index="18" data-row-index="0" data-button-index="2"><i class="fa fa-trash">删除</i></a>
                                                                </td>
                                                            </tr>
                                                            {/volist}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="fixed-table-footer" style="display: none;">
                                                        <table>
                                                            <tbody>
                                                            <tr></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="fixed-table-pagination" style="display: block;">
                                                        <!--<div class="pull-left pagination-detail">-->
                                                        <!--<span class="pagination-info">显示第 1 到第 1 条记录，总共 1 条记录</span><span class="page-list" style="display: none;">每页显示 <span class="btn-group dropup"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="page-size">10</span> <span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li role="menuitem" class="active"><a href="#">10</a></li></ul></span> 条记录</span>-->
                                                        <!--</div>-->
                                                        <div class="pull-right pagination">
                                                            {$page|raw}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="__PUBLIC__/admin/js/require.min.js" type="text/javascript"></script>-->
<script src="__PUBLIC__/assets/js/require.min.js" data-main="__PUBLIC__/assets/js/require-backend.min.js?v=1.0.1"></script>
<script src="__PUBLIC__/admin/js/jquery-1.8.2.min.js"></script>
<script>
    function refresh(){
        self.location.reload();
    }
    function delete_true($ID){
        $('#layui-layer1').removeClass('hidden');
        $('#ID').val($ID);
    }
    function delete_message(){
        $ID = $('#ID').val();

        console.log($ID);
        $('#layui-layer1').addClass('hidden');
        // $.session.get('login_status');
        $.ajax({
            url: "{:url('Consume/deleteMessage')}",
            type: 'post',
            dataType: 'json',
            data: 'ID=' + $ID,
            success: function (data) {
                // console.log(data);
                if (data.code == 200) {
                    alert(data.msg);
                    self.location.reload();
                    // alert(data);

                } else {
                    alert(data.msg);
                }
                // alert(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("服务器返回失败");
                // location.reload();
                // alert(XMLHttpRequest.status);
                // alert(XMLHttpRequest.readyState);
                // alert(textStatus);
//请求失败时调用此函数
            }
        });
    }
    function close_promet() {
        $('#layui-layer1').addClass('hidden');
    }
</script>

</body>
</html>