<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li class="start active ">

            <a href="{:url('Index/index')}">

                <i class="icon-home"></i>

                <span class="title">主页面</span>

                <span class="selected"></span>

            </a>

        </li>
        <!--个人中心-->
        <li class="">

            <a href="javascript:;">

                <i class="icon-user"></i>

                <span class="title">个人中心
                    <!--<img style="width:10px;position:absolute;top:2vh;left:25.3vw;" src="__PUBLIC__/home/images/circle.png" />-->
                </span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="{:url('Index/addrecord')}">添加记录</a>
                </li>
                <li>
                    <a href="{:url('Index/statistical')}">记录统计</a>
                </li>
            </ul>
        </li>


    </ul>
    <!-- END SIDEBAR MENU -->

</div>