<div class="header navbar navbar-inverse navbar-fixed-top">

    <!-- BEGIN TOP NAVIGATION BAR -->

    <div class="navbar-inner">

        <div class="container-fluid">

            <!-- BEGIN LOGO -->

            <a class="brand" href="index.html">

                <span>游戏管理平台</span>

            </a>


            <a href="javascript:;" style="position:relative" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <span>菜单</span>
                <img src="__PUBLIC__/home/images/menu-toggler.png" alt=""/>
                <!--<img style="width:10px;position:absolute;top:1vh;left:14vw;" src="__PUBLIC__/home/images/circle.png" />-->
            </a>
            <ul class="nav pull-right">
                <li class="dropdown user">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <img alt="" src="__PUBLIC__/home/images/avatar1_small.jpg"/>


                        <i class="icon-angle-down"></i>

                    </a>

                    <ul class="dropdown-menu">

                        <!--<li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>-->

                        <!--<li><a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>-->

                        <!--<li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox(3)</a></li>-->

                        <!--<li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>-->

                        <!--<li class="divider"></li>-->

                        <li><a href="{:url('Index/password')}"><i class="icon-lock"></i>修改密码</a></li>

                        <li><a href="{:url('Login/close_login')}"><i class="icon-key"></i>注销</a></li>

                    </ul>

                </li>

                <!-- END USER LOGIN DROPDOWN -->

            </ul>

            <!-- END TOP NAVIGATION MENU -->

        </div>

    </div>

    <!-- END TOP NAVIGATION BAR -->

</div>